<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860443497637-ap0rsen6unlg26gjc5i9unktkeoi4gda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860443497637-ap0rsen6unlg26gjc5i9unktkeoi4gda</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>860443497637-qjrjqoa54u0pq17lsrpknu5ndopgipdb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCouDJc-eLTiowKekPxaP2X27Ecb5-391Q</string>
	<key>GCM_SENDER_ID</key>
	<string>860443497637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cargolandfood.rider</string>
	<key>PROJECT_ID</key>
	<string>cargoland--food</string>
	<key>STORAGE_BUCKET</key>
	<string>cargoland--food.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860443497637:ios:0834a0692453bb443c694c</string>
</dict>
</plist>